body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("header.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
	position: absolute;
	left: 0;
	top: 25%;
	width: 100%;
	text-align: center;
	color: #B5B5B5;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
